* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #11998e, #38ef7d);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  border: none;
  background: #11998e;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

ul {
  list-style: none;
  margin-top: 20px;
  text-align: left;
}

li {
  background: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.delete {
  background: #e74c3c;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}
